@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;@700&display=swap');
:root {
    --preto-p: #252B33;
    --cinza-p: #B5BFC6;
    --branco-p: #EFF2F9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--preto-p);
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    font-weight: 900;
}

.localizacao h1{
    color: var(--branco-p);
}
.localizacao span{
    text-decoration: underline solid 5px var(--branco-p);
}
iframe{
    width: 100%;
    height: 80vh;
    border-radius: 15px;
}

ul li {
    margin: 5px;
}
.navbar-nav{
    margin-left: 350px;
    padding: 2px;
}

.navbar-nav a{
    color: #252B33;
    font-weight: 900;
}

a:hover{
    color: #252B33;
    font-weight: 900;

    
}
.denuncias{
    background-color: #fff;
}
.denuncias img{
    width: 40vw;
    aspect-ratio: 1;
}
.denuncias h2{
    font-weight: 700;
}
.denuncias span{
    text-decoration: underline solid 5px var(--cinza-p);
}
.denuncias fieldset{
    font-size: 18px;
    font-weight: 500;
}
.denuncias input{
    height: 35px;
    padding:10px;
    background-color: var(--cinza-p);
    border: none;
    border-radius: 15px;
}
.denuncias textarea{
    height: 100px;
    padding:10px;
    background-color: var(--cinza-p);
    border: none;
    border-radius: 15px;
}
.denuncias button{
    width: 100px;
    height: 35px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: var(--preto-p);
    color: var(--branco-p);
}
.contato h1{
    color: var(--branco-p)!important;

}
.contato span{
    text-decoration: underline solid 5px var(--branco-p);
}
.contato i{
    font-size: 3rem;
    color: var(--branco-p);
}
.contato-meios{
    width: 25vw;
}
.redes-sociais{
    width: 25vw;
}

.footer-distributed {
    background: #EFF2F9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
    margin-top: 30px;
    color: #161717;
}


/* Footer left */



.footer-distributed .footer-left {
    float: left;
    color: #151516;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #151516;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-links a{
    margin-top: 5px;
    
    
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 5px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


.footer-distributed .footer-right {
    float: right;
}

.footer-distributed .footer-right p {
    font-weight: 900;
    color: #151516;
}

/* contato form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #b4b5b6;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 5px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}


@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name {
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }
}

.serviços-section{
    height: 50vh;
    margin-top: 50px;
background-color: #EFF2F9;
text-decoration: none;
padding-top: 29px;

}

.card-l{
    margin-left: 150px;
    cursor: pointer;

}

.l-img{
    margin-top: 9px;
}
.l-img:hover{
    transform: scale(1.05);
        transition: all 0.5s;
}

.serviços-t{
    color: #151516;
    font-weight: bolder;
        font-size: 30px;
        
    font-family: 'Poppins', sans-serif;



}