@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --preto-p: #252B33;
    --cinza-p: #B5BFC6;
    --branco-p: #EFF2F9;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body {
    background-color: #252B33;


}

ul li {
    margin: 5px;
}

.navbar-nav {
    margin-left: 350px;
    padding: 2px;
}

.navbar-nav a {
    color: #252B33;
    font-weight: 900;
}

a:hover {
    color: #252B33;
    font-weight: 900;


}

.logo{
    margin-left: 25px;
}

.forms{
    margin-right: 50px;
}

.texto{
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
}

.texto-box{
color: #ffffff;

}

span{
    text-decoration: underline solid 5px rgb(184, 184, 184);
}

.conteudo{
    margin-left: 100px;
    margin-top: 150px;

}

.button-click{
    box-sizing: border-box;
    margin-top: 25px;
    
    
}

.button-home{
color: #000000;
border-radius: 15px;
font-weight: 900;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    }

    .button-home-2{
color:  #ffffff;
border-radius: 15px;
font-weight: 900;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.button-home:hover{
background-color: transparent;
color: #EFF2F9;
font-weight: 900;

}

.img-home{
    width: 40%;
    margin-left: 600px;
    margin-top: -250px;
    position: relative;
}

.sobre{
background-color: #EFF2F9;
width: 100%;
height: 220px;
padding: 20px;
border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
padding-left: 22px;
    padding-right: 20px;
    font-size: 15px;
    width: 53vw;
    height: 40vh;
    border-radius: 15px;

}

.titulo{
    font-weight: bolder;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #151516;
    text-decoration: underline solid 5px  rgb(120, 119, 119);

}

.sobre-text{
    font-size: 15px;
    color: #161717;
    text-align: center;
    padding-top: 6px;
    font-weight: 600;
    
    
}


.footer-distributed {
    background: #EFF2F9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
    margin-top: 30px;
    color: #161717;
}

section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}


/* Footer left */



.footer-distributed .footer-left {
    float: left;
    color: #151516;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #151516;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-links a{
    margin-top: 5px;
    
    
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 5px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


.footer-distributed .footer-right {
    float: right;
}

.footer-distributed .footer-right p {
    font-weight: 900;
    color: #151516;
}

/* contato form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #b4b5b6;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 5px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}


@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name {
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }
}

.servicos-section{
    height: 50vh;
    margin-top: 50px;
background-color: #EFF2F9;
text-decoration: none;
padding-top: 29px;

}

.card-l{
    margin-left: 150px;
    cursor: pointer;

}

.l-img{
    margin-top: 9px;
}
.l-img:hover{
    transform: scale(1.05);
        transition: all 0.5s;
}

.servicos-t{
    color: #151516;
    font-weight: bolder;
        font-size: 30px;
        
    font-family: 'Poppins', sans-serif;



}

@media only screen and (max-width:800px) {
    .img-home, .wave{
    opacity: 0;
display: none;
}

.sobre{
    width: 400px;
    height: auto;
    margin-top: 100px;
}

.card-l{
    display: flex;
    width:55%;
}


}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 2px;
}
